/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    background-color: black;
}

/* Starting Screen */
#starting-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100; /* Ensure it's on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#starting-screen-content {
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'VT323', monospace;
    font-size: 18px;
}

#starting-screen-content h1 {
    font-weight: 700; /* Bold */
}

#starting-screen-content p {
    font-weight: 400; /* Regular */
}

/* Game Wrapper */
#game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Game Container */
#game-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: black;
}

/* Create a pseudo-element to maintain aspect ratio */
#game-container::before {
    content: "";
    display: block;
    padding-top: 175%; /* Aspect ratio (Height / Width * 100%) */
}

/* Room Container */
#room {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Background Image and Assets */
#background,
.asset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Clickable Areas */
#red-click-area,
#yellow-click-area,
#purple-click-area,
#grey-click-area,
#lazul-click-area {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    /* Positioning and sizing remain the same */
}

/* Red Click Area */
#red-click-area {
    top: 73%;
    left: 3%;
    width: 15%;
    height: 10%;
}

/* Yellow Click Area */
#yellow-click-area {
    top: 35%;
    left: 20%;
    width: 10%;
    height: 10%;
}

/* Purple Click Area */
#purple-click-area {
    top: 17%;
    left: 85%;
    width: 15%;
    height: 18%;
}

/* Grey Click Area */
#grey-click-area {
    top: 80%;
    left: 61%;
    width: 12%;
    height: 7%;
}

/* Lazul Click Area */
#lazul-click-area {
    top: 54%;
    left: 45%;
    width: 5%;
    height: 6%;
}

/* Particles */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Sound animations (hidden by default) */
.sound-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4; /* Above assets but below particles */
    display: none; /* Hidden by default */
    object-fit: cover; /* Ensure sound animations align with the background */
}
